/* Home.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    min-height: 100vh;
=======
>>>>>>> 8a39b9b18a971da16d523ea362d6bf9813e52845
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

<<<<<<< HEAD
header nav {
    display: flex;
    justify-content: center; /* Căn các nút ra giữa */
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center; /* Căn các phần tử theo chiều dọc vào giữa */
    margin: 0;
    padding: 0;
=======
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
>>>>>>> 8a39b9b18a971da16d523ea362d6bf9813e52845
}

header nav ul li {
    margin-left: 20px;
}

<<<<<<< HEAD
header nav ul li button {
    background-color: transparent; /* Xoá nền của nút */
    color: #181717;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s; /* Hiệu ứng màu khi hover */
}

header nav ul li button:hover {
    color: #fff;
}

header nav ul li .list-fields-button {
    background-color: #e3e9f0; /* Nền của nút List Fields */
    border-radius: 10px;
}

header nav ul li .list-fields-button:hover {
    background-color: #0056b3;
}

=======
>>>>>>> 8a39b9b18a971da16d523ea362d6bf9813e52845
.user-info {
    display: flex;
    align-items: center;
}

.user-info .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.hero {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.hero button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

<<<<<<< HEAD
.main-content {
    flex: 1;
    padding: 50px 0;
}

=======
>>>>>>> 8a39b9b18a971da16d523ea362d6bf9813e52845
.products {
    padding: 50px 0;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

footer {
    background-color: #333;
<<<<<<< HEAD
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
=======
    color: #f2ecec;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;  
    width: 100%;
    opacity: 0.5;
}
body{
    background-color: rgb(239, 233, 233);
}
.templateContainer{
    margin: 5% 0;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer > .searchInput_Container input{
    background-color: rgb(238, 243, 245);
    border: 5px solid #7accf5;
    width: 50%;
    padding: 8px;
    border-radius: 2%;
    outline: none;
}
.templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer .template_Container .template{
    background-color: rgb(244, 247, 249);
    margin: 30px;
    padding: 0px 20px;
}
.templateContainer .template_Container .template img{
    height: 250px;
}
.buttonContainer {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    gap: 10px; /* Khoảng cách giữa các nút */
    flex-wrap: wrap; /* Cho phép các nút xuống dòng nếu không đủ chỗ */
    margin: 20px 0; /* Khoảng cách trên và dưới cho container của nút */
  }
  
  .btn {
    background-color: rgb(197, 237, 245);
    margin: 5px;
  }
>>>>>>> 8a39b9b18a971da16d523ea362d6bf9813e52845
