/* Reset and basic styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
  
}

/* Header styles */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li button {
    background-color: transparent;
    color: #181717;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s;
}

header nav ul li button:hover {
    color: #fff;
}

header nav ul li .list-fields-button {
    background-color: #e3e9f0;
    border-radius: 10px;
}

header nav ul li .list-fields-button:hover {
    background-color: #0056b3;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Hero section */

.hero {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.hero button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Main content area */

.main-content {
    flex: 1;
    padding: 50px 0;
}

.products {
    padding: 50px 0;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

.product button, .details-button, .switch-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.product button:hover, .details-button:hover, .switch-button:hover {
    background-color: #0056b3;
}

/* Details button specific style */

.product .details-button {
    margin-top: 10px;
}

/* Switch button */

.col-12 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 0;
    right: 20px;
}

.switch-button:hover {
    background-color: #333;
}

/* Footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
