/* src/ListField.css */
.list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  .list-item {
    background: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Căn phần tử trong list-item sang hai bên */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
    margin-left: 0; /* Loại bỏ khoảng cách lề mặc định */
  }
  
  .list-logo-container {
    position: relative;
    text-decoration: none;
  }
  
  .list-logo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .checkmark {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #08dae9;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
  }
  
  .list-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    flex-grow: 1; 
  }
  
  .list-name {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .list-name:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }
  
  .list-rating {
    margin-top: 5px;
    color: #888;
  }
  
  .star {
    color: #ccc;
    font-size: 20px;
  }
  
  .star.filled {
    color: gold;
  }
  
  .list-description {
    margin-top: 10px; /* Khoảng cách từ phần tử phía trên là 10px */
    text-align: left; /* Căn văn bản sang trái */
  }
  
  
  .list-trial {
    font-weight: bold; /* Chữ đậm */
    color: #d9534f; /* Màu chữ */
    margin-bottom: 5px; /* Khoảng cách từ phần tử phía dưới là 5px */
    text-align: left; /* Căn văn bản sang trái */
  }
  
  
  .list-tags {
    color: blue; /* Màu chữ */
    text-align: left; /* Căn văn bản sang trái */
    text-decoration: none; /* Loại bỏ gạch chân mặc định */
}

.list-tags:hover {
    text-decoration: underline; /* Hiện gạch chân màu xanh khi di chuột vào */
}

  
  
  .visit-button {
    background-color: #e8edf1; /* Màu nền của nút */
    color: black; /* Màu chữ */
    border: 2px solid #4CAF50; /* Viền màu xanh (#4CAF50) và độ dày là 2px */
    border-radius: 5px; /* Bo góc 5px */
    padding: 5px 10px; /* Khoảng cách bên trong của nút */
    cursor: pointer; /* Kiểu con trỏ khi rê chuột vào nút */
    display: flex; /* Sử dụng flexbox layout */
    align-items: center; /* Căn các phần tử theo chiều dọc vào trung tâm */
    margin-top: auto; /* Đưa nút xuống dưới cùng của phần tử chứa nó */
  }
  
  
  .exit-icon {
    margin-left: 5px;
  }
  
  .visit-button:hover {
    background-color: #ebd77f; /* Thay đổi màu khi hover */
  }


  /* Style for search button */
.search-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.search-button:hover {
  background-color: #67cceb;
}

/**/
.filters {
  display: flex;
  align-items: center; /* Căn các phần tử vào giữa theo chiều dọc */
  justify-content: space-between; /* Căn các phần tử ra đều nhau theo chiều ngang */
  margin-top: 10px; /* Khoảng cách từ phần tử phía trên là 10px */
}

/* Style for select dropdowns and search input */
.filters select,
.filters input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
