/* ProductInformation.css */
.product-info-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px;
}

.product-details{
    width: 60%;
    h2{
        background: #ddd;
        border-radius: 3%;
        text-align: center;
    }
}
.product-video {
    flex: 1;
    margin: 10px;
}

.product-details img {
    display: block;
    margin-top: 10px;
}

.product-video {
    text-align: center;
    background: grey;
    height: 200px;
}

.product-video video {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-info-container{
    text-align: left;
}
