/* Styles for UserProduct component */

/* Container for the entire component */
.auth-container {
    display: flex;
    margin-top: 20px;
    border-radius: 16PX;
    h2{
        text-align: center;
        width: 100%;
        background: #0056b3;
        margin: 0%;
        border-radius: 16PX;
    }
}




.auth-container > div {
    width: 75%;
    padding: 20px;
}

/* Header for user products */
.auth-container h2 {
    margin-top: 20px;
}

/* List styling */
.auth-container ul  {
    list-style-type: none;
    padding: 0;
    overflow: hidden
   
}

/* List item styling */
.auth-container li {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden
}

/* Paragraph styling within list items */
.auth-container li p {
    width: 78%;
    margin: 10px 0;
    font-size: 24px;
    padding-left: 20%;
    overflow: hidden
}

/* Image styling */
.auth-container li img {
    width: 70%;;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Button styling */
.auth-container li button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.auth-container li button:hover {
    background-color: #0056b3;
}
