.main-layout {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #41506c;
  padding: 15px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
}
s
.sidebar nav ul li a.active {
  font-weight: bold;
  color: #6385aa;
}

.content {
  flex: 1;
  padding: 20px;
}
